<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Our App</title>
</head>
<body>
  <h1>Welcome to Our App!</h1>
  <p>Dear <%= @author.name %>,</p>
  <p>Thank you for signing up!</p>
  <!-- Add any other welcome message or instructions here -->
</body>
</html>
